body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #e3f2fd, #ffffff);
  margin: 0;
  padding: 20px;
}

/* CONTENEDOR CENTRAL */
.container {
  max-width: 900px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* TITULO */
h1 {
  text-align: center;
  color: #023e8a;
}

/* INPUT */
input {
  display: block;
  margin: 20px auto;
  padding: 10px;
  width: 60%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* BOTON */
button.filtro {
  display: block;
  margin: 10px auto;
  padding: 10px 15px;
  border: none;
  background-color: #0077b6;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

button.filtro:hover {
  background-color: #023e8a;
}

/* TABLA */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th {
  background-color: #0077b6;
  color: white;
  padding: 10px;
}

td {
  padding: 10px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* BOTONES DE ESTRELLA */
button {
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
  color: gold;
}

button:hover {
  transform: scale(1.2);
}

.buscador {
  display: flex;
  justify-content: center;
  gap: 10px;
}
